# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

#contains sensitive login info
meson.expect

fmri/fmri_fits

#ludvig code from early testing
td_model/

*.Rout
coxme/clock_coxme.R
*.pdf
fmri/keuka_brain_behavior_analyses/clusters_and_beta_series.Rdata

#Mac stuff
.DS_Store
fmri/keuka_brain_behavior_analyses/vhd_u_meg_models.Rdata
