#!/bin/bash

protocol=WPC-6290
meson_mr_root=/disk/mace2/scan_data/${protocol} #location of protocol directory on meson
meson_mb_root=${meson_mr_root}/multiband #location of reconstructed MB data on meson
loc_root=/Volumes/Serena/SPECC #local root directory for project
loc_mr_root=${loc_root}/MR_Raw #local dicom sync directory
loc_mb_root=${loc_root}/${protocol}_MB #multiband rsync directory
meson_subid_regex="${meson_mr_root}/.*/[[:digit:]]{3}[[:alpha:]]{2}_[[:digit:]]{2}[[:alpha:]]{3}[[:digit:]]{4}" #regular expression denoting expected subject id form. Example here: 019ec_04Aug2014
mprage_dirpattern="*MPRAGE_axial_32ch_good*" #expected wildcard name for structural scan directory
preprocessed_dirname="MBclock_recon" #name of directory to be created that will contain preprocessed files
paradigm_name="clock" #used for setting up directory names for each functional run of paradigm
n_expected_funcruns=8 #how many functional runs are expected per subject. Used to skip out of completed subjects