#!/bin/bash

protocol=WPC-6290
meson_mr_root=/disk/mace2/scan_data/${protocol} #location of protocol directory on meson
meson_mb_root=${meson_mr_root}/multiband #location of reconstructed MB data on meson
loc_root=/Volumes/Serena/SPECC #local root directory for project
loc_mrraw_root=${loc_root}/MR_Raw #local dicom sync directory
loc_mrproc_root=${loc_root}/MR_Proc #local directory for processed data. NB: If not defined, processed data will be placed inside subject directories in loc_mrraw_root
loc_mb_root=${loc_root}/${protocol}_MB #multiband rsync directory
mb_filepattern=".*ep2d_MB_rest.*_MB.hdr$"
meson_subid_regex="${meson_mr_root}/.*/[[:digit:]]{3}[[:alpha:]]{2}_[[:digit:]]{2}[[:alpha:]]{3}[[:digit:]]{4}" #regular expression denoting expected subject id form. Example here: 019ec_04Aug2014
mprage_dirpattern="*MPRAGE_axial_32ch_good*" #expected wildcard name for structural scan directory
preprocessed_dirname="mni_5mm_3ddespike" #name of directory to be created that will contain preprocessed files
paradigm_name="rest" #used for setting up directory names for each functional run of paradigm
n_expected_funcruns=1 #how many functional runs are expected per subject. Used to skip out of completed subjects
sync_mb_data=1 #if set to 1, then syncMRCTR_Multiband will execute rsync against meson. Turn off for MMY3 since data collection complete

#if gre_fieldmap_dirpattern is defined, script will look for two fieldmap directories (phase and magnitude) and incorporate into preprocessing
gre_fieldmap_dirpattern="gre_field_mapping*"
fieldmap_cfg="clock" #config file for fieldmap processing (see preprocessFunctional for details)

#preprocessFunctional call to be used (only the part that does not vary across subjects).
#Do not include any information here about -4d (the input), -mprage_bet or -warpcoef (varies by subject), or -fm_phase, -fm_magnitude, or fm_cfg.
#make sure this is a quoted string! Can use backslashes to separate call across lines (within quotes).
preproc_call="-tr 1.0 -bandpass_filter .009 .08 -rescaling_method 100_voxelmean -template_brain MNI_2.3mm \
-func_struc_dof bbr -warp_interpolation spline -constrain_to_template y \
-4d_slice_motion -custom_slice_times /Volumes/Serena/SPECC/MR_Raw/speccMBTimings.1D \
-despike -despike_thresh 3.0 4.5 -motion_censor fd=0.5,dvars=20 \
-nuisance_file nuisance_regressors.txt -nuisance_regression 6motion,d6motion,csf,dcsf,wm,dwm -smoothing_kernel 5 -cleanup"

#need to export these environment variables to be accessible in R
export protocol meson_mr_root meson_mb_root loc_root loc_mrraw_root loc_mrproc_root loc_mb_root mb_filepattern \
    meson_subid_regex mprage_dirpattern preprocessed_dirname paradigm_name n_expected_funcruns \
    sync_mb_data preproc_call gre_fieldmap_dirpattern fieldmap_cfg
